<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />

    <link href="~/lib/fontawesome-free-5.11.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.11.2-web/css/brands.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.11.2-web/css/solid.css" rel="stylesheet" />
        
    <link href="~/lib/DataTables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">


                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employees </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="StatusEmployees" asp-action="Index">Status Employees</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="JobPositions" asp-action="Index">Job Positions</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Rosters" asp-action="Index">Rosters</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Skills" asp-action="Index">Skills</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Request </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="TypeRequests" asp-action="Index">Type Requests</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="StatusRequests" asp-action="Index">Status Requests</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Sites" asp-action="Index">Sites</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    }
                    <form class="form-inline my-2 my-lg-0 justify-content-lg-end">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> @User.Identity.Name  </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index">Perfil</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-outline-danger">Logout</a>
                                </li>
                            }
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - perp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.all.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/buttons.flash.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/buttons.html5.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/buttons.print.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/jszip.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/pdfmake.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.6.1/js/vfs_fonts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
